@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: bisque;
}

img {
    user-drag: none; -moz-user-select: none; -webkit-user-drag: none;
}

.img {
    transition: transform .1s ease-in-out;
}

.img:active {
    transform: scale(.3);
}
